<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>btn-about-off.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {112, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{112, 36}</string>
			<key>spriteSourceSize</key>
			<string>{112, 36}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{380, 463}, {112, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn-about-on.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {112, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{112, 36}</string>
			<key>spriteSourceSize</key>
			<string>{112, 36}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{385, 347}, {112, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn-achievement.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {18, 20}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{18, 20}</string>
			<key>spriteSourceSize</key>
			<string>{18, 20}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{57, 492}, {20, 18}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>btn-achievements-off.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {270, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{270, 31}</string>
			<key>spriteSourceSize</key>
			<string>{270, 31}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{319, 215}, {31, 270}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>btn-achievements-on.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {270, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{270, 31}</string>
			<key>spriteSourceSize</key>
			<string>{270, 31}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 413}, {270, 31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn-back.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {62, 27}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{62, 27}</string>
			<key>spriteSourceSize</key>
			<string>{62, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{318, 485}, {62, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn-done.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {93, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{93, 42}</string>
			<key>spriteSourceSize</key>
			<string>{93, 42}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{87, 466}, {93, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn-play-off.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {87, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{87, 48}</string>
			<key>spriteSourceSize</key>
			<string>{87, 48}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 444}, {87, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn-play-on.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {87, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{87, 48}</string>
			<key>spriteSourceSize</key>
			<string>{87, 48}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{270, 413}, {48, 87}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>correct.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {17, 20}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{17, 20}</string>
			<key>spriteSourceSize</key>
			<string>{17, 20}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{350, 448}, {17, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hangman1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 1}, {12, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 17}</string>
			<key>spriteSize</key>
			<string>{12, 48}</string>
			<key>spriteSourceSize</key>
			<string>{28, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{258, 444}, {12, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hangman2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {22, 54}}</string>
			<key>spriteOffset</key>
			<string>{-1, 14}</string>
			<key>spriteSize</key>
			<string>{22, 54}</string>
			<key>spriteSourceSize</key>
			<string>{28, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{180, 488}, {54, 22}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>hangman3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {22, 72}}</string>
			<key>spriteOffset</key>
			<string>{-1, 5}</string>
			<key>spriteSize</key>
			<string>{22, 72}</string>
			<key>spriteSourceSize</key>
			<string>{28, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{180, 466}, {72, 22}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>hangman4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {22, 82}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{22, 82}</string>
			<key>spriteSourceSize</key>
			<string>{28, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{385, 405}, {82, 22}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>hangman5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {22, 82}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{22, 82}</string>
			<key>spriteSourceSize</key>
			<string>{28, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{481, 215}, {22, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hangman6.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {22, 82}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{22, 82}</string>
			<key>spriteSourceSize</key>
			<string>{28, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{459, 215}, {22, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hangman7.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {22, 82}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{22, 82}</string>
			<key>spriteSourceSize</key>
			<string>{28, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{385, 383}, {82, 22}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>highscores-table.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {319, 413}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{319, 413}</string>
			<key>spriteSourceSize</key>
			<string>{319, 413}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {319, 413}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>incorrect.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {22, 23}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{22, 23}</string>
			<key>spriteSourceSize</key>
			<string>{22, 23}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{234, 488}, {22, 23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>keyboard-1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {29, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{29, 38}</string>
			<key>spriteSourceSize</key>
			<string>{29, 38}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{467, 383}, {29, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>keyboard-2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {27, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{27, 38}</string>
			<key>spriteSourceSize</key>
			<string>{27, 38}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{423, 427}, {38, 27}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>keyboard-3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {31, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{31, 38}</string>
			<key>spriteSourceSize</key>
			<string>{31, 38}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{459, 297}, {38, 31}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>keyboard-4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {29, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{29, 38}</string>
			<key>spriteSourceSize</key>
			<string>{29, 38}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{350, 410}, {29, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>keyboard-5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {28, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{28, 38}</string>
			<key>spriteSourceSize</key>
			<string>{28, 38}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{385, 427}, {38, 28}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>letter-placeholder.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {21, 5}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{21, 5}</string>
			<key>spriteSourceSize</key>
			<string>{21, 5}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 507}, {21, 5}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>logo.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {215, 177}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{215, 177}</string>
			<key>spriteSourceSize</key>
			<string>{215, 177}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{319, 0}, {177, 215}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>name-placeholder.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {248, 5}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{248, 5}</string>
			<key>spriteSourceSize</key>
			<string>{248, 5}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{380, 215}, {5, 248}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>noose-frame.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {74, 132}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{74, 132}</string>
			<key>spriteSourceSize</key>
			<string>{74, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{385, 215}, {74, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>txt-achievements.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {195, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{195, 22}</string>
			<key>spriteSourceSize</key>
			<string>{195, 22}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{350, 215}, {22, 195}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>txt-enter-name.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {171, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{171, 22}</string>
			<key>spriteSourceSize</key>
			<string>{171, 22}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{87, 444}, {171, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>txt-name.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {57, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{57, 14}</string>
			<key>spriteSourceSize</key>
			<string>{57, 14}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{492, 421}, {14, 57}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>txt-score.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {57, 15}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{57, 15}</string>
			<key>spriteSourceSize</key>
			<string>{57, 15}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 492}, {57, 15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
	</dict>
</dict>
</plist>