<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>btn-about-off.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {225, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{225, 72}</string>
			<key>spriteSourceSize</key>
			<string>{225, 72}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{700, 623}, {225, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn-about-on.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {225, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{225, 72}</string>
			<key>spriteSourceSize</key>
			<string>{225, 72}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{413, 944}, {225, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn-achievement.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {37, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{37, 40}</string>
			<key>spriteSourceSize</key>
			<string>{37, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{969, 623}, {40, 37}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>btn-achievements-off.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {541, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{541, 62}</string>
			<key>spriteSourceSize</key>
			<string>{541, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{638, 475}, {62, 541}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>btn-achievements-on.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {541, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{541, 62}</string>
			<key>spriteSourceSize</key>
			<string>{541, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{85, 827}, {541, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn-back.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {124, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{124, 54}</string>
			<key>spriteSourceSize</key>
			<string>{124, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{85, 889}, {54, 124}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>btn-done.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {187, 85}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{187, 85}</string>
			<key>spriteSourceSize</key>
			<string>{187, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 827}, {85, 187}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>btn-play-off.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {175, 97}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{175, 97}</string>
			<key>spriteSourceSize</key>
			<string>{175, 97}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{700, 792}, {97, 175}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>btn-play-on.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {175, 97}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{175, 97}</string>
			<key>spriteSourceSize</key>
			<string>{175, 97}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{700, 695}, {175, 97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>correct.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {35, 41}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{35, 41}</string>
			<key>spriteSourceSize</key>
			<string>{35, 41}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{981, 430}, {41, 35}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>hangman1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{17, 2}, {22, 93}}</string>
			<key>spriteOffset</key>
			<string>{0, 36}</string>
			<key>spriteSize</key>
			<string>{22, 93}</string>
			<key>spriteSourceSize</key>
			<string>{56, 169}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{992, 0}, {22, 93}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hangman2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {42, 107}}</string>
			<key>spriteOffset</key>
			<string>{-3, 29}</string>
			<key>spriteSize</key>
			<string>{42, 107}</string>
			<key>spriteSourceSize</key>
			<string>{56, 169}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{198, 899}, {42, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hangman3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {42, 143}}</string>
			<key>spriteOffset</key>
			<string>{-3, 11}</string>
			<key>spriteSize</key>
			<string>{42, 143}</string>
			<key>spriteSourceSize</key>
			<string>{56, 169}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{875, 695}, {143, 42}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>hangman4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {42, 163}}</string>
			<key>spriteOffset</key>
			<string>{-3, 1}</string>
			<key>spriteSize</key>
			<string>{42, 163}</string>
			<key>spriteSourceSize</key>
			<string>{56, 169}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{841, 878}, {163, 42}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>hangman5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {42, 163}}</string>
			<key>spriteOffset</key>
			<string>{-3, 1}</string>
			<key>spriteSize</key>
			<string>{42, 163}</string>
			<key>spriteSourceSize</key>
			<string>{56, 169}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{841, 836}, {163, 42}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>hangman6.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {44, 163}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{44, 163}</string>
			<key>spriteSourceSize</key>
			<string>{56, 169}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{797, 836}, {44, 163}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hangman7.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {44, 163}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{44, 163}</string>
			<key>spriteSourceSize</key>
			<string>{56, 169}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{797, 792}, {163, 44}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>highscores-table.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {638, 827}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{638, 827}</string>
			<key>spriteSourceSize</key>
			<string>{638, 827}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {638, 827}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>incorrect.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {44, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{44, 47}</string>
			<key>spriteSourceSize</key>
			<string>{44, 47}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{925, 623}, {44, 47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>keyboard-1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {59, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{59, 74}</string>
			<key>spriteSourceSize</key>
			<string>{59, 76}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{964, 549}, {59, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>keyboard-2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {55, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{55, 76}</string>
			<key>spriteSourceSize</key>
			<string>{55, 76}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{358, 944}, {55, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>keyboard-3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {62, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{62, 76}</string>
			<key>spriteSourceSize</key>
			<string>{62, 76}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{296, 944}, {62, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>keyboard-4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {59, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{59, 74}</string>
			<key>spriteSourceSize</key>
			<string>{59, 76}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{964, 475}, {59, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>keyboard-5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {56, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{56, 76}</string>
			<key>spriteSourceSize</key>
			<string>{56, 76}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{240, 944}, {56, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>letter-placeholder.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {43, 11}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{43, 11}</string>
			<key>spriteSourceSize</key>
			<string>{43, 11}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{626, 827}, {11, 43}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>logo.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {430, 354}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{430, 354}</string>
			<key>spriteSourceSize</key>
			<string>{430, 354}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{638, 0}, {354, 430}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>name-placeholder.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {496, 10}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{496, 10}</string>
			<key>spriteSourceSize</key>
			<string>{496, 10}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{139, 889}, {496, 10}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>noose-frame.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {148, 264}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{148, 264}</string>
			<key>spriteSourceSize</key>
			<string>{148, 264}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{700, 475}, {264, 148}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>txt-achievements.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {390, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{390, 45}</string>
			<key>spriteSourceSize</key>
			<string>{390, 45}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{240, 899}, {390, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>txt-enter-name.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {343, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{343, 45}</string>
			<key>spriteSourceSize</key>
			<string>{343, 45}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{638, 430}, {343, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>txt-name.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {114, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{114, 28}</string>
			<key>spriteSourceSize</key>
			<string>{114, 28}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{170, 899}, {28, 114}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>txt-score.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {114, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{114, 31}</string>
			<key>spriteSourceSize</key>
			<string>{114, 31}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{139, 899}, {31, 114}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
	</dict>
</dict>
</plist>