<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>word</string>
	<string>number</string>
	<string>people</string>
	<string>little</string>
	<string>sentence</string>
	<string>through</string>
	<string>before</string>
	<string>follow</string>
	<string>around</string>
	<string>another</string>
	<string>because</string>
	<string>different</string>
	<string>picture</string>
	<string>change</string>
	<string>animal</string>
	<string>letter</string>
	<string>mother</string>
	<string>answer</string>
	<string>should</string>
	<string>America</string>
	<string>between</string>
	<string>country</string>
	<string>school</string>
	<string>father</string>
	<string>thought</string>
	<string>something</string>
	<string>example</string>
	<string>always</string>
	<string>together</string>
	<string>important</string>
	<string>children</string>
	<string>without</string>
	<string>second</string>
	<string>enough</string>
	<string>Indian</string>
	<string>really</string>
	<string>almost</string>
	<string>sometimes</string>
	<string>mountain</string>
	<string>family</string>
	<string>better</string>
	<string>giving</string>
	<string>myself</string>
	<string>please</string>
	<string>pretty</string>
	<string>yellow</string>
	<string>script</string>
	<string>splint</string>
	<string>strand</string>
	<string>stripe</string>
	<string>struck</string>
	<string>strung</string>
	<string>absent</string>
	<string>banging</string>
	<string>basket</string>
	<string>bathtub</string>
	<string>bedbug</string>
	<string>blasted</string>
	<string>blended</string>
	<string>bobsled</string>
	<string>branch</string>
	<string>camping</string>
	<string>catnip</string>
	<string>chipmunk</string>
	<string>contest</string>
	<string>crashing</string>
	<string>dentist</string>
	<string>disrupt</string>
	<string>disrupted</string>
	<string>drinking</string>
	<string>dusted</string>
	<string>expanded</string>
	<string>finishing</string>
	<string>goblin</string>
	<string>himself</string>
	<string>hotrod</string>
	<string>hunted</string>
	<string>insisted</string>
	<string>insisting</string>
	<string>insulted</string>
	<string>invent</string>
	<string>invented</string>
	<string>jumping</string>
	<string>lapdog</string>
	<string>lasted</string>
	<string>lending</string>
	<string>mascot</string>
	<string>napkin</string>
	<string>picnic</string>
	<string>pigpen</string>
	<string>pinball</string>
	<string>planted</string>
	<string>plastic</string>
	<string>problem</string>
	<string>public</string>
	<string>publishing</string>
	<string>punishing</string>
	<string>rented</string>
	<string>rested</string>
	<string>ringing</string>
	<string>shifted</string>
	<string>shrimp</string>
	<string>shrinking</string>
	<string>shrunk</string>
	<string>sinking</string>
	<string>splash</string>
	<string>splashing</string>
	<string>squinted</string>
	<string>standing</string>
	<string>sunfish</string>
	<string>sunlit</string>
	<string>sunset</string>
	<string>suntan</string>
	<string>swishing</string>
	<string>talented</string>
	<string>throne</string>
	<string>tilted</string>
	<string>tiptop</string>
	<string>trusted</string>
	<string>twisted</string>
	<string>whiplash</string>
	<string>zigzag</string>
	<string>called</string>
	<string>circle</string>
	<string>friend</string>
	<string>nothing</string>
	<string>Blanch</string>
	<string>Carmen</string>
	<string>caterpillar</string>
	<string>chuckle</string>
	<string>complain</string>
	<string>crunch</string>
	<string>Curtis</string>
	<string>dinner</string>
	<string>doctor</string>
	<string>fellow</string>
	<string>fiddle</string>
	<string>fishing</string>
	<string>forever</string>
	<string>forgot</string>
	<string>gobble</string>
	<string>granddad</string>
	<string>grandpa</string>
	<string>grinned</string>
	<string>grumble</string>
	<string>insect</string>
	<string>jiggle</string>
	<string>jumble</string>
	<string>library</string>
	<string>market</string>
	<string>napper</string>
	<string>nibble</string>
	<string>perfect</string>
	<string>reward</string>
	<string>Rivera</string>
	<string>Sanchez</string>
	<string>served</string>
	<string>sister</string>
	<string>snuggle</string>
	<string>sparkle</string>
	<string>sprinkle</string>
	<string>squirt</string>
	<string>sudden</string>
	<string>sunburn</string>
	<string>surprise</string>
	<string>swimmer</string>
	<string>tadpole</string>
	<string>tickle</string>
	<string>twinkle</string>
	<string>twitch</string>
	<string>umbrella</string>
	<string>whisper</string>
	<string>whistle</string>
	<string>wiggle</string>
	<string>window</string>
	<string>Winkle</string>
	<string>writing</string>
	<string>afraid</string>
	<string>afternoon</string>
	<string>anything</string>
	<string>anyway</string>
	<string>anywhere</string>
	<string>applaud</string>
	<string>artist</string>
	<string>attack</string>
	<string>awesome</string>
	<string>awning</string>
	<string>babble</string>
	<string>baffle</string>
	<string>ballplayer</string>
	<string>baseball</string>
	<string>basketball</string>
	<string>battle</string>
	<string>beanstalk</string>
	<string>bedtime</string>
	<string>beehive</string>
	<string>begging</string>
	<string>behind</string>
	<string>birthday</string>
	<string>bleach</string>
	<string>bluebird</string>
	<string>blueprint</string>
	<string>bonnet</string>
	<string>bottle</string>
	<string>brainstorm</string>
	<string>breakfast</string>
	<string>breath</string>
	<string>bright</string>
	<string>broiler</string>
	<string>bruise</string>
	<string>bubble</string>
	<string>bundle</string>
	<string>butterfly</string>
	<string>button</string>
	<string>candle</string>
	<string>careful</string>
	<string>cattle</string>
	<string>charge</string>
	<string>cheerful</string>
	<string>cheese</string>
	<string>choice</string>
	<string>church</string>
	<string>classmate</string>
	<string>clever</string>
	<string>clutch</string>
	<string>collect</string>
	<string>colorful</string>
	<string>cowboy</string>
	<string>crinkle</string>
	<string>cruise</string>
	<string>cuddle</string>
	<string>cupcake</string>
	<string>dangle</string>
	<string>daylight</string>
	<string>decent</string>
	<string>delight</string>
	<string>dimple</string>
	<string>doghouse</string>
	<string>double</string>
	<string>dragon</string>
	<string>dragonfly</string>
	<string>driveway</string>
	<string>evergreen</string>
	<string>everyone</string>
	<string>everything</string>
	<string>everywhere</string>
	<string>explore</string>
	<string>fabric</string>
	<string>faithful</string>
	<string>finish</string>
	<string>firefighter</string>
	<string>flagpole</string>
	<string>flashlight</string>
	<string>flaunt</string>
	<string>flight</string>
	<string>fluffy</string>
	<string>forest</string>
	<string>forget</string>
	<string>Friday</string>
	<string>fright</string>
	<string>frozen</string>
	<string>garden</string>
	<string>giggle</string>
	<string>ginger</string>
	<string>giraffe</string>
	<string>gluestick</string>
	<string>graceful</string>
	<string>grapefruit</string>
	<string>grasshopper</string>
	<string>grateful</string>
	<string>grownup</string>
	<string>growth</string>
	<string>gumball</string>
	<string>handwriting</string>
	<string>happen</string>
	<string>harmful</string>
	<string>health</string>
	<string>helpful</string>
	<string>herself</string>
	<string>hidden</string>
	<string>highway</string>
	<string>homemade</string>
	<string>homework</string>
	<string>hopeful</string>
	<string>hopscotch</string>
	<string>houseboat</string>
	<string>housefly</string>
	<string>huddle</string>
	<string>hummingbird</string>
	<string>hungry</string>
	<string>hurdle</string>
	<string>inside</string>
	<string>instead</string>
	<string>jellyfish</string>
	<string>jingle</string>
	<string>juggle</string>
	<string>jungle</string>
	<string>kickball</string>
	<string>kingfish</string>
	<string>kitten</string>
	<string>kneecap</string>
	<string>knight</string>
	<string>knockout</string>
	<string>knothole</string>
	<string>launch</string>
	<string>leather</string>
	<string>lighthouse</string>
	<string>lipstick</string>
	<string>living</string>
	<string>lunchbox</string>
	<string>middle</string>
	<string>mitten</string>
	<string>moment</string>
	<string>Monday</string>
	<string>muzzle</string>
	<string>necktie</string>
	<string>newscast</string>
	<string>newspaper</string>
	<string>nickname</string>
	<string>nighttime</string>
	<string>nowhere</string>
	<string>oatmeal</string>
	<string>object</string>
	<string>outside</string>
	<string>paddle</string>
	<string>painful</string>
	<string>pancake</string>
	<string>paperback</string>
	<string>peaceful</string>
	<string>peddle</string>
	<string>pencil</string>
	<string>pennies</string>
	<string>pillow</string>
	<string>poison</string>
	<string>poodle</string>
	<string>popcorn</string>
	<string>poster</string>
	<string>potpie</string>
	<string>pretzel</string>
	<string>purple</string>
	<string>puzzle</string>
	<string>quicksand</string>
	<string>rabbit</string>
	<string>rainbow</string>
	<string>rattle</string>
	<string>recycle</string>
	<string>refund</string>
	<string>restful</string>
	<string>return</string>
	<string>ribbon</string>
	<string>riddle</string>
	<string>rumble</string>
	<string>runway</string>
	<string>saddle</string>
	<string>sailboat</string>
	<string>sample</string>
	<string>sandbox</string>
	<string>sandpaper</string>
	<string>Saturday</string>
	<string>saucer</string>
	<string>scorch</string>
	<string>scrape</string>
	<string>scratch</string>
	<string>scream</string>
	<string>screen</string>
	<string>settle</string>
	<string>shadow</string>
	<string>shaking</string>
	<string>shameful</string>
	<string>shipwreck</string>
	<string>shrink</string>
	<string>sidewalk</string>
	<string>silence</string>
	<string>simple</string>
	<string>slight</string>
	<string>smiling</string>
	<string>smooth</string>
	<string>snooze</string>
	<string>snowball</string>
	<string>snowflake</string>
	<string>snowman</string>
	<string>someone</string>
	<string>somewhere</string>
	<string>splendid</string>
	<string>splotch</string>
	<string>sprain</string>
	<string>sprawl</string>
	<string>spread</string>
	<string>spring</string>
	<string>sprint</string>
	<string>spruce</string>
	<string>squawk</string>
	<string>startle</string>
	<string>stiffer</string>
	<string>strain</string>
	<string>strange</string>
	<string>stream</string>
	<string>street</string>
	<string>stretch</string>
	<string>strict</string>
	<string>strike</string>
	<string>string</string>
	<string>strong</string>
	<string>suitcase</string>
	<string>sunblock</string>
	<string>Sunday</string>
	<string>sunflower</string>
	<string>sunrise</string>
	<string>sunshine</string>
	<string>swerve</string>
	<string>swimming</string>
	<string>switch</string>
	<string>tablet</string>
	<string>tattle</string>
	<string>taught</string>
	<string>teacher</string>
	<string>tennis</string>
	<string>thankful</string>
	<string>thimble</string>
	<string>thinner</string>
	<string>thinnest</string>
	<string>thirst</string>
	<string>thread</string>
	<string>threat</string>
	<string>thrill</string>
	<string>throat</string>
	<string>Thursday</string>
	<string>topcoat</string>
	<string>traffic</string>
	<string>travel</string>
	<string>treetop</string>
	<string>trouble</string>
	<string>trumpet</string>
	<string>Tuesday</string>
	<string>tugboat</string>
	<string>tumble</string>
	<string>turtle</string>
	<string>useful</string>
	<string>vanish</string>
	<string>visitor</string>
	<string>waddle</string>
	<string>wealth</string>
	<string>weather</string>
	<string>Wednesday</string>
	<string>weekend</string>
	<string>wettest</string>
	<string>whatever</string>
	<string>whenever</string>
	<string>windmill</string>
	<string>wonderful</string>
	<string>wreath</string>
	<string>wrench</string>
	<string>wriggle</string>
	<string>wrinkle</string>
	<string>wristwatch</string>
	<string>written</string>
	<string>yardstick</string>
	<string>winter</string>
	<string>mitten</string>
	<string>brother</string>
	<string>frying</string>
	<string>grouch</string>
	<string>intern</string>
	<string>plants</string>
	<string>player</string>
	<string>prance</string>
	<string>prayer</string>
	<string>present</string>
	<string>prince</string>
	<string>program</string>
	<string>snatch</string>
	<string>sneeze</string>
	<string>speech</string>
	<string>swatch</string>
	<string>twelve</string>
	<string>twenty</string>
	<string>twitter</string>
	<string>against</string>
	<string>American</string>
	<string>course</string>
	<string>during</string>
	<string>general</string>
	<string>however</string>
	<string>possible</string>
	<string>president</string>
	<string>rather</string>
	<string>states</string>
	<string>system</string>
	<string>things</string>
	<string>though</string>
	<string>toward</string>
	<string>united</string>
	<string>suddenly</string>
	<string>zipper</string>
	<string>anyone</string>
	<string>arrive</string>
	<string>asleep</string>
	<string>August</string>
	<string>avenue</string>
	<string>behave</string>
	<string>bridge</string>
	<string>carpet</string>
	<string>cereal</string>
	<string>choose</string>
	<string>cookie</string>
	<string>corner</string>
	<string>crayon</string>
	<string>danger</string>
	<string>minute</string>
	<string>banana</string>
	<string>bucket</string>
	<string>carrot</string>
	<string>dollar</string>
	<string>finger</string>
	<string>flower</string>
	<string>gentle</string>
	<string>handle</string>
	<string>listen</string>
	<string>mirror</string>
	<string>monkey</string>
	<string>nickel</string>
	<string>nobody</string>
	<string>orange</string>
	<string>parent</string>
	<string>person</string>
	<string>pocket</string>
	<string>potato</string>
	<string>puppet</string>
	<string>rocket</string>
	<string>search</string>
	<string>secret</string>
	<string>seesaw</string>
	<string>shovel</string>
	<string>shower</string>
	<string>silent</string>
	<string>spider</string>
	<string>sponge</string>
	<string>squash</string>
	<string>squeak</string>
	<string>sticky</string>
	<string>summer</string>
	<string>supper</string>
	<string>ticket</string>
	<string>tiptoe</string>
	<string>tissue</string>
	<string>tomato</string>
	<string>tongue</string>
	<string>turkey</string>
	<string>unfair</string>
	<string>wonder</string>
	<string>U.S.A.</string>
	<string>airport</string>
	<string>anybody</string>
	<string>balloon</string>
	<string>bedroom</string>
	<string>bicycle</string>
	<string>brownie</string>
	<string>cartoon</string>
	<string>ceiling</string>
	<string>channel</string>
	<string>chicken</string>
	<string>garbage</string>
	<string>promise</string>
	<string>squeeze</string>
	<string>address</string>
	<string>blanket</string>
	<string>earache</string>
	<string>excited</string>
	<string>goodbye</string>
	<string>grandma</string>
	<string>grocery</string>
	<string>indoors</string>
	<string>January</string>
	<string>kitchen</string>
	<string>lullaby</string>
	<string>monster</string>
	<string>morning</string>
	<string>naughty</string>
	<string>October</string>
	<string>pajamas</string>
	<string>pretend</string>
	<string>quarter</string>
	<string>shampoo</string>
	<string>stomach</string>
	<string>tonight</string>
	<string>unhappy</string>
	<string>airplane</string>
	<string>alphabet</string>
	<string>bathroom</string>
	<string>favorite</string>
	<string>medicine</string>
	<string>December</string>
	<string>dinosaur</string>
	<string>elephant</string>
	<string>February</string>
	<string>football</string>
	<string>forehead</string>
	<string>headache</string>
	<string>hospital</string>
	<string>lollipop</string>
	<string>November</string>
	<string>outdoors</string>
	<string>question</string>
	<string>railroad</string>
	<string>remember</string>
	<string>sandwich</string>
	<string>scissors</string>
	<string>shoulder</string>
	<string>softball</string>
	<string>tomorrow</string>
	<string>upstairs</string>
	<string>vacation</string>
	<string>restroom</string>
	<string>astronaut</string>
	<string>beautiful</string>
	<string>bumblebee</string>
	<string>cardboard</string>
	<string>chocolate</string>
	<string>Christmas</string>
	<string>classroom</string>
	<string>cranberry</string>
	<string>drugstore</string>
	<string>furniture</string>
	<string>milkshake</string>
	<string>nightmare</string>
	<string>telephone</string>
	<string>difficult</string>
	<string>everybody</string>
	<string>hamburger</string>
	<string>September</string>
	<string>spaceship</string>
	<string>spaghetti</string>
	<string>stoplight</string>
	<string>underwear</string>
	<string>yesterday</string>
	<string>ice cream</string>
	<string>automobile</string>
	<string>blackboard</string>
	<string>downstairs</string>
	<string>photograph</string>
	<string>strawberry</string>
	<string>television</string>
	<string>toothbrush</string>
	<string>toothpaste</string>
	<string>babysitter</string>
	<string>post office</string>
	<string>grandfather</string>
	<string>grandmother</string>
	<string>potato chip</string>
	<string>upside down</string>
	<string>kindergarten</string>
	<string>refrigerator</string>
	<string>Thanksgiving</string>
	<string>hideandseek</string>
	<string>United States</string>
	<string>pumpkin</string>
	<string>melted</string>
	<string>handed</string>
	<string>printed</string>
	<string>landed</string>
	<string>wanted</string>
	<string>filled</string>
	<string>showed</string>
	<string>hugged</string>
	<string>tugged</string>
	<string>planned</string>
	<string>jogged</string>
	<string>spilled</string>
	<string>smelled</string>
	<string>grilled</string>
	<string>slammed</string>
	<string>rushed</string>
	<string>spelled</string>
	<string>smiled</string>
	<string>closed</string>
	<string>helped</string>
	<string>jumped</string>
	<string>looked</string>
	<string>clapped</string>
	<string>tapped</string>
	<string>kicked</string>
	<string>dropped</string>
	<string>zipped</string>
	<string>wished</string>
	<string>pitched</string>
	<string>missed</string>
	<string>walked</string>
	<string>worked</string>
</array>
</plist>
